input[type=button] 
{
    padding:5px 15px; 
    background:blue; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

form
{
    margin-top:250px;
    margin-left:575px;
    margin-right:575px;
}